{% extends base.html %}

{% block title %} Welcome! {% endblock %}

{% block body %}
    <h1>Welcome to my website!</h1>
    <p>This is the demo application for the course
        <em>Getting started with Flask</em> on
        <a href="http://pluralsight.com">Pluralsight</a>.
    </p>
    <img src="https://objects.ruanbekker.com/assets/images/python-flask.png">
    <h1>Flash Cards</h1>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{ card.question }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('add_card')}}">Add a new card</a>
{% endblock %}