<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my website!</h1>
    <p>This is the demo application for the course
        <em>Getting started with Flask</em> on
        <a href="http://pluralsight.com">Pluralsight</a>.
    </p>
    <img src="https://objects.ruanbekker.com/assets/images/python-flask.png"
</body>
</html>